@font-face {
  font-family: "HakgyoansimNadeuriTTF-B";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.react-calendar {
  padding: 10px;
  font-family: "HakgyoansimNadeuriTTF-B";
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
}

.react-calendar__navigation {
  font-family: "HakgyoansimNadeuriTTF-B" !important;
}

.react-calendar__tile {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  transition: all 0.3s ease;
}

/* 선택된 날짜  */
.react-calendar__tile--active {
  background-color: #82caff;
  color: #fff !important;
  font-weight: bold;
}

.react-calendar__tile--active:enabled:hover {
  background-color: #4da6ff;
}

/* 오늘 날짜  */
.react-calendar__tile--now {
  background-color: #f0e68c;
  color: #000;
}

.react-calendar__tile--now:enabled:hover {
  background-color: #ffdead;
}

/* 요일별   */
.react-calendar__tile--saturday,
.react-calendar__tile--sunday,
.react-calendar__tile--holiday {
  font-size: 15px;
}

.react-calendar__tile--saturday {
  color: steelblue;
}

.react-calendar__tile--sunday,
.react-calendar__tile--holiday {
  color: crimson;
  font-weight: bold;
}

/* 토요일, 일요일, 공휴일 선택 시 x */
.react-calendar__tile--active.react-calendar__tile--saturday,
.react-calendar__tile--active.react-calendar__tile--sunday,
.react-calendar__tile--active.react-calendar__tile--holiday {
  background-color: #82caff;
  color: #fff;
}

/* 호버 */
.react-calendar__tile:hover {
  background-color: #e6f7ff;
}
