@import url(./rest.css);

/*font*/
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gugi&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

/*header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  .banner {
    background: #0c964a;
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    .lnb {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      padding-right: 30px;
      a {
        color: #fff;
        margin-right: 20px;
      }
    }
  }
  nav {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    .log {
      font: 460 30px/1.5 "Gugi";
      color: #3cb371;
      text-shadow: 1px 1px 0px #fff;
    }
    .gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          color: #0c964a;
          transition: all 0.3s;
          &:hover {
            color: #3cb371;
          }
        }
      }
    }
  }

  .trigger {
    display: none;
  }
  &.active {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

/*intro*/
.intro {
  height: 100vh;
  background: url("./img/intro01.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  .heading {
    text-align: right;
    padding-right: 60px;
    color: #fff;
    h1 {
      color: #3cb371;
      font: 500 70px/1.5 "Gugi";
      text-shadow: 1px 1px 0px #fff;
      margin-bottom: 20px;
    }
    p {
      font-size: 28px;
      font-weight: 400px;
      line-height: 1.3rem;

      font-family: "Jua", sans-serif;

      /* padding: 0 150px; */
    }
  }
}

/* about */
.about {
  .inner {
    overflow: hidden;
    position: relative;
    .my_slide {
      position: relative;
      display: flex;
      .about_content {
        min-width: 100%;
        display: flex;
        padding: 160px 0;
        div {
          padding: 30px;
          &.desc {
            text-align: center;
            width: 50%;
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 16px;
              line-height: 1.7rem;
              margin: 30px 0 40px;
            }
            a {
              border-radius: 20px;
              padding: 10px 40px;
              text-align: center;
              background: #0c964a;
              color: #fff;
              font-weight: bold;
              transition: all 0.3s;
              &:hover {
                background: #3cb371;
                color: #fff;
              }
            }
          }
          &.photo {
            width: 50%;
            img {
              border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
            }
          }
        }
      }
    }
  }
}

/*matching*/
.matching {
  height: 100vh;
  background: url(./img/matching03.jpg) center/cover no-repeat;
  .matching_inner {
    display: flex;
    padding: 200px 40px;
    justify-content: space-between;
    align-items: center;
    .matching_content {
      padding: 30px;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;
      }
      .btn {
        width: 50%;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 14px;
        text-align: center;
        background: #0c964a;
        color: #fff;
        box-shadow: 0 0 4px #ddd;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          i {
            transform: translateX(20%);
          }
        }
        i {
          padding-left: 5px;
        }
      }
    }
  }
}

/*review*/
.reivew {
  height: 600px;
  .inner {
    margin-top: 120px;
    position: relative;
    background: url(./img/therapy01.jpg) center/cover no-repeat;
    h1 {
      text-align: right;
      padding-right: 20px;
      padding-top: 30px;
      color: #fff;
      font-size: 30px;
    }
    .inner_text {
      margin-top: 20px;
      text-align: right;
      padding-right: 20px;
      font-size: 18px;
      color: #fff;
    }
    .review_content {
      height: 400px;
      overflow: hidden;
      .reivew_wrap {
        margin-top: 30px;
        display: flex;
        gap: 70px;
        width: 200%;
        animation: reviewLoop 70s linear infinite;
        cursor: pointer;
        &:hover {
          animation-play-state: paused;
        }
        .review_item {
          border-radius: 10px;
          width: 420px;
          height: 220px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          .review_upper_item {
            display: flex;
            height: 100px;
            .review_img {
              flex: 1;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
              }
            }
            .review_up_des {
              flex: 3;
              padding: 20px;
              justify-content: center;
              h3 {
                font-weight: normal;
                font-size: 16px;
                padding-bottom: 10px;
              }
              h2 {
                font-size: 14px;
              }
            }
          }
          .review_down_des {
            margin-top: 10px;
            height: 220px;
            padding: 10px;
            line-height: 1.6;
          }
          &:nth-child(1),
          &:nth-child(4) {
            background-color: #cce2cb;
            transform: translateY(30%);
          }
          &:nth-child(2),
          &:nth-child(5) {
            background-color: #f6eace;
            transform: translateY(50%);
          }
          &:nth-child(3),
          &:nth-child(6) {
            background-color: #ffd7c3;
            transform: translateY(20%);
          }
        }
      }
    }
    .button {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      div {
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 10px 30px;
        color: #f6eace;
        transition: all 0.3s;
        i {
          padding-left: 10px;
        }
        &:hover {
          cursor: pointer;
          background: rgba(0, 0 0 0.8);
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}

/*reservation*/

.reservation_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  .reservation_up {
    text-align: center;
    margin-bottom: 40px;
    .reservation_text {
      h1 {
        padding-bottom: 20px;
        font-size: 32px;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
  .reservation_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 60px;
    ul {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: inline-block;
        width: 260px;
        gap: 20px;
        label {
          display: inline-block;
          font-size: 16px;
        }
        input {
          padding-left: 5px;
          font-size: 16px;
          border: none;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 14px;
          border-bottom: 1px solid #ddd;
          &:focus {
            outline: none;
          }
        }
      }
    }
    button {
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      transition: all 0.3s;
      &:hover {
        cursor: pointer;
        background-color: #3cb371;
      }
    }
  }
}

/*footer*/

footer {
  background: #0c964a;
  height: 70px;
  bottom: 0;
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      color: #fff;
      li {
        cursor: pointer;
      }
    }
  }
}

/*animation*/

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes reviewLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*미디어쿼리*/

@media screen and (max-width: 770px) {
  .inner {
    width: 100%;
    padding: 15px;
  }

  /*header*/

  header {
    nav {
      width: 100%;
      padding: 0 20px;
      .log {
        padding-top: 10px;
        font-size: 28px;
      }
      .gnb {
        width: 250px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: #fff;
        position: fixed;
        top: 50px;
        right: -250px;
        text-align: right;
        padding: 80px 10px 0 0;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
        &.active {
          right: 0;
          li {
            padding-top: 50px;
            padding-right: 30px;
            gap: 10px;
            a {
              font-size: 20px;
              color: black;
              &:hover {
                color: #3cb371;
              }
            }
          }
        }
      }
    }
    .trigger {
      display: block;
      width: 30px;
      height: 16px;
      position: absolute;
      top: 70px;
      right: 20px;
      span {
        width: 100%;
        height: 1px;
        background: #0c964a;
        position: absolute;
        transform: all 0.3s;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 100%;
        }
      }
      &.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
      }
      &.active span:nth-child(2) {
        opacity: 0;
      }
      &.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
      }
    }
  }

  /*intro*/
  .intro {
    .heading {
      padding-right: 20px;
      width: 100%;
      h1 {
        font-size: 60px;
        line-height: 1;
      }
      p {
        font-size: 26px;
        line-height: 1.2;
      }
    }
  }

  /*about*/
  .my_slide {
    .about_content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0;
      div {
        display: flex;
        flex-direction: column;
        &.desc {
          text-align: center;
          flex: 2;
          h2 {
            font-size: 28px;
            margin-bottom: 30px;
          }
          p {
            font-size: 12px;
            margin: 30px 0 20px;
          }
          a {
            font-weight: bold;
          }
        }
        &.photo {
          display: none;
        }
      }
    }
  }
  /*matching*/
  .matching {
    .matching_inner {
      width: 100%;
      .matching_content {
        width: 100%;
        .btn {
          width: 100%;
          &:hover {
            border: 1px solid rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }

  /*review*/
  .reivew {
    .inner {
      .review_content {
        display: flex;
        flex-direction: column;
        width: 300%;
        .reivew_wrap {
          align-items: center;
          justify-content: center;
          animation: reviewLoop 70s linear infinite;
          .review_item {
            .review_down_des {
              margin: 10px;
              height: 100%;
              padding: 0;
            }
            &:nth-child(1),
            &:nth-child(4) {
              background-color: #cce2cb;
            }
            &:nth-child(2),
            &:nth-child(5) {
              background-color: #f6eace;
            }
            &:nth-child(3),
            &:nth-child(6) {
              background-color: #ffd7c3;
            }
          }
        }
      }
    }
  }

  /*reservation_content*/
  .reservation {
    .reservation_form {
      button {
        width: 100%;
        height: 40px;
        font-size: 16px;
        transition: all 0.3s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
