@import url(./rest.css);

/*font*/
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gugi&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

/*header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  .banner {
    background: #0c964a;
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    .lnb {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      padding-right: 30px;
      a {
        color: #fff;
        margin-right: 20px;
      }
    }
  }
  nav {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    .log {
      font: 460 30px/1.5 "Gugi";
      color: #3cb371;
      text-shadow: 1px 1px 0px #fff;
    }
    .gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          color: #0c964a;
          transition: all 0.3s;
          &:hover {
            color: #3cb371;
          }
        }
      }
    }
  }
}

/*intro*/
.intro {
  height: 100vh;
  background: url("./img/intro01.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  .heading {
    text-align: right;
    padding-right: 60px;
    color: #fff;
    h1 {
      color: #3cb371;
      font: 500 70px/1.5 "Gugi";
      text-shadow: 1px 1px 0px #fff;
      margin-bottom: 20px;

      span {
        animation: title 7s infinite;
      }
    }
    p {
      font-size: 28px;
      font-weight: 400px;
      line-height: 1.3rem;

      font-family: "Jua", sans-serif;

      /* padding: 0 150px; */
    }
  }
}

/* about */
.my_slide {
  .about_content {
    display: flex;
    padding: 160px 0;
    div {
      padding: 30px;
      &.desc {
        text-align: center;
        flex: 2;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
          line-height: 1.7rem;
          margin: 30px 0 40px;
        }
        a {
          border-radius: 20px;
          padding: 10px 40px;
          text-align: center;
          background: #0c964a;
          color: #fff;
          font-weight: bold;
          transition: all 0.3s;
          &:hover {
            background: #3cb371;
            color: #fff;
          }
        }
      }
      &.photo {
        flex: 1;
        img {
          border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        }
      }
    }
  }
}

/*matching*/
.matching {
  height: 100vh;
  background: url(./img/matching03.jpg) center/cover no-repeat;
  .matching_inner {
    display: flex;
    padding: 200px 40px;
    justify-content: space-between;
    align-items: center;
    .matching_content {
      padding: 30px;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;
      }
      .btn {
        width: 50%;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 14px;
        text-align: center;
        background: #0c964a;
        color: #fff;
        box-shadow: 0 0 4px #ddd;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          i {
            transform: translateX(20%);
          }
        }

        i {
          padding-left: 5px;
        }
      }
    }
  }
}

/*review*/
.reivew {
  height: 600px;

  .inner {
    margin-top: 120px;
    position: relative;
    background: url(./img/therapy01.jpg) center/cover no-repeat;

    h1 {
      text-align: right;
      padding-right: 20px;
      padding-top: 30px;
      color: #fff;
      font-size: 30px;
    }
    .inner_text {
      margin-top: 20px;
      text-align: right;
      padding-right: 20px;
      font-size: 18px;
      color: #fff;
    }
    .review_content {
      height: 400px;
      overflow: hidden;
      .reivew_wrap {
        margin-top: 30px;
        display: flex;
        gap: 70px;
        width: 200%;
        animation: reviewLoop 70s linear infinite;
        cursor: pointer;
        &:hover {
          animation-play-state: paused;
        }
        .review_item {
          border-radius: 10px;
          width: 420px;
          height: 220px;
          padding: 30px;
          display: flex;
          flex-direction: column;
          .review_upper_item {
            display: flex;
            height: 100px;
            .review_img {
              flex: 1;
              border-radius: 50%;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
              }
            }
            .review_up_des {
              flex: 3;
              padding: 20px;
              justify-content: center;
              h3 {
                font-weight: normal;
                font-size: 16px;
                padding-bottom: 10px;
              }
              h2 {
                font-size: 14px;
              }
            }
          }
          .review_down_des {
            margin-top: 10px;
            height: 220px;
            padding: 10px;
            line-height: 1.6;
          }
          &:nth-child(1),
          &:nth-child(4) {
            background-color: #cce2cb;
            transform: translateY(30%);
          }
          &:nth-child(2),
          &:nth-child(5) {
            background-color: #f6eace;
            transform: translateY(50%);
          }
          &:nth-child(3),
          &:nth-child(6) {
            background-color: #ffd7c3;
            transform: translateY(20%);
          }
        }
      }
    }
    .button {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      div {
        width: 100%;
        height: 100%;
        font-size: 18px;
        padding: 10px 30px;
        color: #f6eace;
        transition: all 0.3s;
        i {
          padding-left: 10px;
        }
        &:hover {
          cursor: pointer;
          background: rgba(0, 0 0 0.8);
          backdrop-filter: blur(5px);
        }
      }
    }
  }
}

/*reservation*/

.reservation_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .reservation_up {
    text-align: center;
    margin-bottom: 40px;
    .reservation_text {
      h1 {
        padding-bottom: 20px;
        font-size: 32px;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
      }
    }
  }
  .reservation_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 60px;
    ul {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        display: inline-block;
        width: 260px;
        gap: 20px;
        label {
          display: inline-block;
          font-size: 16px;
        }
        input {
          padding-left: 5px;
          font-size: 16px;
          border: none;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 14px;
          border-bottom: 1px solid #ddd;
          &:focus {
            outline: none;
          }
        }
      }
    }
    button {
      width: 300px;
      height: 30px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        background-color: #3cb371;
      }
    }
  }
}

/*footer*/

footer {
  background: #0c964a;
  height: 70px;
  bottom: 0;
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      color: #fff;
      li {
        cursor: pointer;
      }
    }
  }
}

/*animation*/

@keyframes title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes reviewLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
