@import url(./rest.css);

/*font*/
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Gugi&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Diphylleia&family=Gugi&family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

/*header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
  .banner {
    background: #0c964a;
    height: 50px;
    font-size: 14px;
    transition: all 0.5s;
    .lnb {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: flex-end;
      padding-right: 30px;
      a {
        color: #fff;
        margin-right: 20px;
      }
    }
  }
  nav {
    width: 1300px;
    display: flex;
    /* background-color: #fff; */
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    .log {
      font: 460 30px/1.5 "Gugi";
      color: #3cb371;
      text-shadow: 1px 1px 0px #fff;
    }
    .gnb {
      display: flex;
      gap: 20px;
      li {
        a {
          color: #0c964a;
          transition: all 0.3s;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

/*intro*/
.intro {
  height: 100vh;
  background: url("./img/intro01.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  .heading {
    text-align: right;
    padding-right: 60px;
    color: #fff;
    h1 {
      color: #3cb371;
      font: 500 70px/1.5 "Gugi";
      text-shadow: 1px 1px 0px #fff;
      margin-bottom: 20px;
    }
    p {
      font-size: 28px;
      font-weight: 400px;
      line-height: 1.3rem;

      font-family: "Jua", sans-serif;

      /* padding: 0 150px; */
    }
  }
}

/* about */
.my_slide {
  .about_content {
    display: flex;
    padding: 160px 0;
    height: 100vh;
    overflow: hidden;
    div {
      padding: 30px;
      &.desc {
        text-align: center;
        flex: 3;
        h2 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
          line-height: 1.7rem;
          margin: 30px 0 40px;
        }
        a {
          border-radius: 20px;
          padding: 10px 40px;
          text-align: center;
          background: #0c964a;
          color: #fff;
          font-weight: bold;
          transition: all 0.3s;
          &:hover {
            background: #3cb371;
            color: #fff;
          }
        }
      }
      &.photo {
        flex: 2;
        img {
          border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
        }
      }
    }
  }
}

/*matching*/
.matching {
  height: 100vh;
  background: url(./img/matching03.jpg) center/cover no-repeat;
  .matching_inner {
    display: flex;
    padding: 200px 40px;
    justify-content: space-between;
    align-items: center;
    .matching_content {
      padding: 30px;
      h2 {
        font-size: 30px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;
      }
      .btn {
        width: 50%;
        border-radius: 20px;
        padding: 10px 10px;
        font-size: 14px;
        text-align: center;
        background: #0c964a;
        color: #fff;
        box-shadow: 0 0 4px #ddd;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          i {
            transform: translateX(20%);
          }
        }

        i {
          padding-left: 5px;
        }
      }
    }
  }
}

/*review*/
.reivew {
  .inner {
    h1 {
      padding: 60px;
    }
    .review_content {
      border: 1px solid #f00;
      border-radius: 10px;
      width: 420px;
      height: 320px;
      padding: 30px;
      .review_item {
        border: 1px solid #f00;
        height: 260px;
        display: flex;
        flex-direction: column;
        .review_upper_item {
          display: flex;
          height: 100px;
          .review_img {
            flex: 1;
            border: 1px solid #f00;
            border-radius: 50%;
            .img {
              width: 100%;
              height: 100%;
            }
          }
          .review_up_des {
            flex: 3;
            padding: 10px;
            border: 1px solid #f00;
            h3 {
              font-size: 18px;
            }
            h2 {
              font-size: 14px;
            }
          }
        }
        .review_down_des {
          border: 1px solid #f00;
          height: 220px;
          padding: 10px;
        }
      }
    }
  }
}
