@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Nanum+Gothic&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --main-width: 1190px;
}

#container {
  width: 100%;
  position: relative;
}

#top_navigation {
  width: var(--main-width);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/*left_gnb */

.left_gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: palevioletred;
  font-size: 24px;
  a {
    font-family: "Margarine";
  }
}

/*right_gnb*/

.gnb {
  display: flex;
  gap: 60px;
  padding-right: 30px;
  color: #bdbdbd;
  font-weight: bold;
  font-family: "Nanum Gothic";
}

.gnb .active {
  color: palevioletred;
  font-weight: bold;
}

.gnb > li {
  position: relative;
  margin: 10px 0;
}

.gnb > li .lnb {
  width: 160px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: white;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  overflow: hidden;
}

.gnb > li .lnb a {
  display: inline-block;
  color: #bdbdbd;
  margin: 10px 0;
  transform: all 1s;
  &:hover {
    color: #000;
    cursor: [pointer];
  }
}

/* flow_container */

.flow_container {
  overflow-x: hidden;
}

.flow_text {
  background-color: pink;
  padding: 6px 0;
  font-weight: bold;
  display: flex;
  color: white;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }

  .flow_wrap {
    animation: textLoop 40s linear infinite;
    span {
      display: inline-block;
      font-size: 14px;
      padding-right: 10px;
    }
  }
}

@keyframes textLoop {
  0% {
    transform: translateX(0);
    padding-right: 10px;
  }
  100% {
    transform: translateX(-100%);
  }
}

/*main*/
.main {
  width: var(--main-width);
  margin: 20px auto;
}

.main_title {
  padding: 20px;
  text-align: center;
  color: #d87093;
  font-family: "Nanum Gothic";
  font-weight: bold;
  font-size: 26px;
  &:hover {
    cursor: pointer;
  }
}

.main_text {
  font-family: "Nanum Gothic";
  font-size: 20px;
  color: #bdbdbd;
  text-align: center;
}

.slide_card {
  width: var(--main-width);
  height: 400px;
  margin: 0 auto;
  position: relative;

  ul {
    height: 400px;
    position: absolute;
    right: 0;
    top: -320px;

    margin: 0 auto;
  }
  img {
    width: 100px;
    height: 100px;
  }
}

/* background_img */

#background_img {
  width: var(--main-width);
  height: 400px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  border-radius: 10%;

  #top_contents {
    width: var(--main-width);
    height: 400px;
    margin: 40px auto;
    position: relative;

    .top_contents_title {
      color: #fff;
      font-family: "Do Hyeon", sans-serif;
      font-size: 28px;
      font-weight: 100;
      text-align: center;
      padding: 20px 30px 20px 30px;
    }

    .top_contents_desc {
      width: var(--main-width);
      bottom: 0px;
      padding: 10px;
      text-align: center;
      position: absolute;
      font-family: "Do Hyeon", sans-serif;
      font-weight: 100;
      color: #fff;
      font-size: 26px;
      line-height: 1.5;
    }
  }
}
