/*font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background: url(./img/background3.jpg) center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1200px;
  height: 473px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
  gap: 200px;
  background: rgba(0, 0, 0, 0.7);
}

.left {
  width: 50%;
  position: relative;
  color: #fff;
}
.left .left-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  transition: opacity 0.5s ease-in-out;
}
.left .left-main.hide {
  opacity: 0;
}
.left .left-main .left-main-title {
  font-size: 32px;
  font-weight: 700;
}
.left .left-main .left-main-intro {
  font-size: 18px;
  line-height: 1.6;
}
.left .left-main .left-main-btn {
  width: 243px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  transition: opacity all 0.3s;
}
.left .left-main .left-main-btn:hover {
  opacity: 0.8;
}

.right {
  width: 50%;
  position: relative;
  color: #fff;
}
.right .right-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.right .right-main.active {
  opacity: 1;
}
.right .right-main .right-main-title {
  font-size: 32px;
  font-weight: 800;
}
.right .right-main .right-main-intro {
  font-size: 18px;
  line-height: 1.6;
}
.right .right-main .right-main-btn {
  width: 243px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  opacity: 1;
  transition: opacity all 0.3s;
}
.right .right-main .right-main-btn:hover {
  opacity: 0.8;
}

.right-side {
  position: absolute;
  width: 532px;
  height: 556px;
  background: #fff;
  right: 16%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.right-side .right-contain {
  width: 100%;
  height: 100%;
}
.right-side .right-contain .right-side-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: fadeIn 2s ease-in-out;
}
.right-side .right-contain .right-side-login .right-side-title {
  font-size: 40px;
  font-weight: 800;
  background-image: linear-gradient(135deg, #a7a6cb 0%, #8989ba 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.right-side .right-contain .right-side-login .right-side-intro {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #686868;
}
.right-side .right-contain .right-side-login .right-side-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.right-side .right-contain .right-side-login .right-side-simple .simple-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: rgba(167, 166, 203, 0.4);
  color: #fff;
  cursor: pointer;
  transition: transform background 1s ease-in-out;
}
.right-side .right-contain .right-side-login .right-side-simple .simple-icon:hover {
  background: #4e4376;
  transform: rotateY(-180deg);
}
.right-side .right-contain .right-side-login .right-side-simple .simple-icon i {
  font-size: 20px;
  transition: transform 1s ease-in-out;
}
.right-side .right-contain .right-side-login .right-side-simple .simple-icon:hover i {
  transform: rotateY(-180deg);
}
.right-side .right-contain .right-side-login .right-side-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  gap: 5px;
}
.right-side .right-contain .right-side-login .right-side-form .email-box,
.right-side .right-contain .right-side-login .right-side-form .password-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .email-error,
.right-side .right-contain .right-side-login .right-side-form .email-box .password-error,
.right-side .right-contain .right-side-login .right-side-form .password-box .email-error,
.right-side .right-contain .right-side-login .right-side-form .password-box .password-error {
  padding: 2px;
  font-size: 12px;
  color: tomato;
  opacity: 0;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .email-error.active,
.right-side .right-contain .right-side-login .right-side-form .email-box .password-error.active,
.right-side .right-contain .right-side-login .right-side-form .password-box .email-error.active,
.right-side .right-contain .right-side-login .right-side-form .password-box .password-error.active {
  opacity: 1;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .box,
.right-side .right-contain .right-side-login .right-side-form .password-box .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .box input,
.right-side .right-contain .right-side-login .right-side-form .password-box .box input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .box input::placeholder,
.right-side .right-contain .right-side-login .right-side-form .password-box .box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .box input:focus,
.right-side .right-contain .right-side-login .right-side-form .password-box .box input:focus {
  outline: none;
}
.right-side .right-contain .right-side-login .right-side-form .email-box .box input:focus::placeholder,
.right-side .right-contain .right-side-login .right-side-form .password-box .box input:focus::placeholder {
  opacity: 0;
}
.right-side .right-contain .right-side-login .right-side-form .remember-box {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 12px;
  margin-bottom: 4px;
}
.right-side .right-contain .right-side-login .right-side-form .remember-box .forgot {
  color: #696969;
  cursor: pointer;
  transition: text-decoration 0.5s;
}
.right-side .right-contain .right-side-login .right-side-form .remember-box .forgot:hover {
  text-decoration: underline;
}
.right-side .right-contain .right-side-login .right-side-form .login-btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #8989ba;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.right-side .right-contain .right-side-login .right-side-form .login-btn:hover {
  background: #4e4376;
}
.right-side .right-contain .right-side-signUp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 10px;
  animation: fadeIn 2s ease-in-out forwards;
}
.right-side .right-contain .right-side-signUp.active {
  display: block;
}
.right-side .right-contain .right-side-signUp.hide {
  display: none;
}
.right-side .right-contain .right-side-signUp .right-side-title-signUp {
  font-size: 40px;
  font-weight: 800;
  background-image: linear-gradient(135deg, #a7a6cb 0%, #8989ba 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.right-side .right-contain .right-side-signUp .right-side-intro-signUp {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #686868;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  gap: 5px;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .userName-error,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .userEmail-error,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .userName-error,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .userEmail-error {
  padding: 2px;
  font-size: 12px;
  color: tomato;
  opacity: 0;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .userName-error.active,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .userEmail-error.active,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .userName-error.active,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .userEmail-error.active {
  opacity: 1;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .box,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .box input,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .box input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .box input::placeholder,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .box input:focus,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .box input:focus {
  outline: none;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userName-box .box input:focus::placeholder,
.right-side .right-contain .right-side-signUp .right-side-form-signUp .userEmail-box .box input:focus::placeholder {
  opacity: 0;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp #next {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #8989ba;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.right-side .right-contain .right-side-signUp .right-side-form-signUp #next:hover {
  background: #4e4376;
}
.right-side .right-contain .right-side-signUP_pW {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 3px;
}
.right-side .right-contain .right-side-signUP_pW.hide-signPW {
  animation: fadeIn 3s ease-in-out;
  display: block;
}
.right-side .right-contain .right-side-signUP_pW .right-side-title-signUP {
  font-size: 40px;
  font-weight: 800;
  background-image: linear-gradient(135deg, #a7a6cb 0%, #8989ba 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.right-side .right-contain .right-side-signUP_pW .right-side-intro-signUP_pW {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #686868;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px;
  gap: 5px;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .userPw-error,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .userCPw-error,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .userPw-error,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .userCPw-error {
  padding: 2px;
  font-size: 12px;
  color: tomato;
  opacity: 0;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .userPw-error.active,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .userCPw-error.active,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .userPw-error.active,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .userCPw-error.active {
  opacity: 1;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .box,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .box input,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .box input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .box input::placeholder,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .box input:focus,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .box input:focus {
  outline: none;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userPw-box .box input:focus::placeholder,
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .userCPw-box .box input:focus::placeholder {
  opacity: 0;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box {
  width: 100%;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box input:focus {
  outline: none;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box input:focus::placeholder {
  opacity: 0;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box label {
  width: 100%;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box .signUp-userphn {
  width: 100%;
  display: flex;
  gap: 10px;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box .signUp-userphn #signUp-userPhoneNum {
  width: 400px;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .box .signUp-userphn #code {
  width: 70px;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .userphone-error {
  padding: 2px;
  font-size: 12px;
  color: tomato;
  opacity: 0;
  transition: opacity 0.5s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW .user-phone-box .userphone-error.active {
  opacity: 1;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW #code {
  font-family: "Montserrat", sans-serif;
  background: #a7a6cb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW #code:hover {
  background: #4e4376;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW #next-signup {
  margin-top: 6px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #8989ba;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.right-side .right-contain .right-side-signUP_pW .right-side-form-signUp_pW #next-signup:hover {
  background: #4e4376;
}
.right-side .right-contain .success-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 180px;
  animation: backgroundFade 1s ease-in forwards;
  transition: all 0.3s;
  display: none;
}
.right-side .right-contain .success-container.sucess {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: block;
  transition: all 0.3s;
}
.right-side .right-contain .success-container.sucess:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.right-side .right-contain .success-container .success-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: textSlideIn 1s ease-out 0.5s forwards;
}
.right-side .right-contain .success-container .success-box h1 {
  font-size: 32px;
  color: #a67eca;
  margin-bottom: 10px;
}
.right-side .right-contain .success-container .success-box p {
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  opacity: 0;
  transform: translateY(20px);
  animation: textSlideIn 1s ease-out 0.5s forwards;
}
.right-side.active {
  transition: transform 0.5s ease-in-out;
  animation: leftMove 1s forwards;
}
.right-side.hide {
  transition: transform 0.5s ease-in-out;
  animation: rightMove 1s forwards;
}

/*ani*/
@keyframes flipCard {
  0% {
    transform: rotateY(0deg);
    background-color: rgba(167, 166, 203, 0.4);
  }
  50% {
    transform: rotateY(-90deg);
    background-color: #4e4376;
  }
  100% {
    transform: rotateY(-180deg);
    background-color: #4e4376;
  }
}
@keyframes leftMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes rightMove {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes backgroundFade {
  from {
    background-color: transparent;
  }
  to {
    background-color: #fff;
  }
}
@keyframes textSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}